*.ckpt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/fcrnn_1024_gen/last_fold-1_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/fcrnn_1024_gen/last_fold-2_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/fcrnn_1024_gen/last_fold-3_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/fcrnn_1024_gen/last_fold-4_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/fcrnn_1024_gen/last_fold-5_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/retina_1024_gen/last_fold-1_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/retina_1024_gen/last_fold-2_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/retina_1024_gen/last_fold-3_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/retina_1024_gen/last_fold-4_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/retina_1024_gen/last_fold-5_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/effdet_1024_gen/last_fold-2_cluster-1.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_1024_gen/fold-5-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_1024_gen/fold-1-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_1024_gen/fold-2-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_1024_gen/fold-3-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_1024_gen/fold-4-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_640_gen/fold-4-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_640_gen/fold-5-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_640_gen/fold-1-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_640_gen/fold-2-best.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/notest_final/yolo_640_gen/fold-3-best.pt filter=lfs diff=lfs merge=lfs -text
F1_E79_ModelX_v4_T0.325_V0.410.ckpt filter=lfs diff=lfs merge=lfs -text
fastercnn50.pth filter=lfs diff=lfs merge=lfs -text
resnet50-0676ba61.pth filter=lfs diff=lfs merge=lfs -text
yolo5x_vindr.pt filter=lfs diff=lfs merge=lfs -text
